@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Web API</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to a simple Web API!</h2>
        <p>
            This simple Web API can create, update, read and
            delete users that are stored in a database and
            demonstrates how to use Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>